transformers==4.42.3  # Future version may break the code, upgrade with caution. Previous stable version was 4.35.0
lxml
numpy
datasets
torch
sentence-transformers
peft
backoff
tensorboardX
hydra-core
peft
accelerate
optimum
openai
tiktoken
trl
bitsandbytes
coloredlogs
sacrebleu
bert-score
packaging
ninja
huggingface-hub>=0.23.4, <0.24